<%- include('../template/header') -%>


<div class="auth-wrap-background2">
    <div class="auth-center">
      <div class="auth-blur auth-size">
        <div class="auth-wrap-background2"></div>
      </div>
    </div>
    <div class="auth-center">
      <div class="auth__inner auth-size">
        <div class="auth__sidebar auth__inner__section">
            <div class="row">
                <div class="col-md-6">
                    <img src="images/bdlogo.png" class="img-fluid m-2" style="width:70px; height: 70px;">
                </div>
                <div class="col-md-6">
                    <img src="images/rpgcl_logo.jpg" class="img-fluid m-2 rounded float-right"style="width:120px; height: 70px;">
                </div>
            </div>  
            <br>
            <h1 style="font-weight:bolder; text-align: center; letter-spacing: 1px; font-size: 1.125rem; color: rgba(11, 81, 22, 0.8);">Rupantarita Prakritik Gas Company Limited</h1>

            
            <br>
            <br>
            <div class="row">

              <div class="col-md-6">
                <div class="col text-center">
                    <a href="organogram/staffOrg" class="btn btn-success indexbtn" >Staffs</a>
                </div>
              </div> 
              <div class="col-md-6">
                  <div class="col text-center">
                      <a href="/organogram/org" class="btn btn-success indexbtn" >Officials</a>
                  </div>
              </div>
                  
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>

          </div>
        </div>
      </div>
    </div>
</div>
    
<%- include('../template/footerlink') -%>
