<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <img src="/images/rpgcl_logo.jpg" class="img-fluid m-2 rounded float-right"style="width:120px; height: 50px;">

        <a class="navbar-brand" href="javascript:void(0)" style="padding-left: 2rem; font-weight: bold;">Rupantarita Prakritik Gas Company Limited</a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">

          <!-- <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">
              <i class="material-icons">notifications</i>
              <p class="d-lg-none d-md-block">
                Notifications
              </p>
            </a>
          </li> -->
          
          <!-- your navbar here -->
        </ul>
      </div>
    </div>
  </nav>