<div class="sidebar" data-color="purple" data-background-color="black" data-image="assets/img/sidebar-2.jpg">
    <div class="logo">
      <a href="/" class="simple-text logo-normal">
        RPGCL
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">

        <li class="nav-item active">
          <a class="nav-link" href="javascript:void(0)">
            <i class="material-icons">dashboard</i>
            <p>Officials Dashboard</p>
          </a>
        </li>
        
        <!-- your sidebar here -->

        <li class="nav-item ">
          <a class="nav-link" href="/department/addDep">
            <i class="material-icons">person</i>
            <p>Add Divisions</p>
          </a>
        </li>

        <li class="nav-item ">
          <a class="nav-link" href="/addInfoForm">
            <i class="material-icons">person</i>
            <p>Add Officials info</p>
          </a>
        </li>

        <li class="nav-item ">
          <a class="nav-link" href="/officialsTable">
            <i class="material-icons">content_paste</i>
            <p>List of Officials info</p>
          </a>
        </li>

        <hr style="border-top:3px solid rgba(255, 255, 255, 0.1)">
        <!-- <li class="nav-item">
          <a class="nav-link" href="/officialsLeaveTable">
            <i class="material-icons">library_books</i>
            <p>Leave Management</p>
          </a>
        </li>  -->
        
        <li class="nav-item ">
          <a class="nav-link" href="/leave/addLeaveType">
            <i class="material-icons">library_books</i>
            <p>Add Leave Type</p>
          </a>
        </li>
        
        <li class="nav-item ">
          <a class="nav-link" href="/leave/officialsLeaveInfo">
            <i class="material-icons">library_books</i>
            <p>Officials Leave Info</p>
          </a>
        </li>
        
        <hr style="border-top:3px solid rgba(255, 255, 255, 0.1)">

        <!-- <li class="nav-item ">
          <a class="nav-link" href="./icons.html">
            <i class="material-icons">bubble_chart</i>
            <p>Icons</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="./map.html">
            <i class="material-icons">location_ons</i>
            <p>Maps</p>
          </a>
        </li> -->

        <li class="nav-item ">
          <a class="nav-link" href="/retirement">
            <i class="material-icons">notifications</i>
            <p>Retirement</p>
          </a>
        </li>

      </ul>
    </div>
  </div>